<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nieuwe taak</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click'); close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <div class="input-group">
              <textarea matInput placeholder="Wat ga je doen?" style="width:400px" #todoItemDescription></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button> -->
      <button type="button" class="btn btn-outline-dark" (click)="add(todoItemDescription.value) ; todoItemDescription.value=''">Save</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-light" (click)="open(content)">Maak een nieuwe taak!</button>
