
<div class="container py-5">  
  <div class="row">
    <h1 style="color:lavender" class="mx-auto my-0 text-uppercase masthead">ToDo List</h1>
    <hr>
  </div>
</div>

<div class="container py-5">  
    <div class="row">
      <app-new-todo-item-modal class="mx-auto my-0"></app-new-todo-item-modal>
    </div>
</div>

<div class="container">
    <div class="row display-flex">
 
     <div *ngFor="let todoItem of todoItems" style="height:250px;" class="col-3 ">
       <mat-card class="cards">
           
         <mat-card-header>
             <mat-card-title>{{todoItem.description}}</mat-card-title>
             
             <mat-card-subtitle>
                 <mat-checkbox id=doneCheckbox [checked]="todoItem.isDone"(change)="valueChange(todoItems,todoItem,$event)">Done</mat-checkbox>
                 <hr>
                 <button type="button" class="btn btn-danger btn-xs" (click)="delete(todoItem, $event)">Delete</button>
             </mat-card-subtitle>
         </mat-card-header>
         
       </mat-card>
     </div>
 
   </div>
 </div>


